<button class="btn btn-primary" (click)="addStudent()">Add new student</button>

<app-student-mod (studentAdded)="studentAdded()" *ngIf="addNewStudent"></app-student-mod>
<table *ngIf="!addNewStudent" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students | async">
        <th scope="row">1</th>
        <td>{{student.lastName}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.year}}</td>
    </tr>
  </tbody>
</table>
