<button class="btn btn-primary" (click)="addStudent()">Add new student</button>

<app-student-mod (studentAdded)="studentAdded()" *ngIf="addNewStudent"></app-student-mod>
<div class="row">
  <div class="col">
    <table *ngIf="!addNewStudent" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Year</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students | async; let i = index" [class.table-primary]="selectedStudent && student.id===selectedStudent.id" (click)="showStudentDetail(student)">
          <th scope="row">{{i+1}}</th>
          <td>{{student.lastName}}</td>
          <td>{{student.firstName}}</td>
          <td>{{student.year}}</td>
          <td><i (click) = "deleteStudent(student)" style="color: red" class="fas fa-user-times"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <app-student-detail *ngIf="selectedStudent" [student]="selectedStudent"></app-student-detail>
  </div>
</div>
