<div class="row">
  <div class="col">
    <form [formGroup]="studentForm">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input class="form-control" formControlName="firstName" placeholder="First name">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input class="form-control" formControlName="lastName" placeholder="Last name">
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <select class="form-control" formControlName="year">
          <option [value]="item" *ngFor="let item of year"> {{item}}</option>
        </select>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <label for="">Upload profile picture</label>
        </div>
        <div class="col">
          <app-file-upload  (fileUploaded)="onFileUploaded($event)"></app-file-upload>
        </div>
      </div>

      <button class="btn btn-primary" (click)="addStudent()" type="submit" [disabled]="!studentForm.valid">Submit</button>
      &nbsp; <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
  <div class="col"></div>
</div>

<hr>
