<!-- <form [formGroup]="studentFrom">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input class="form-control" id="firstName" formControlName="firstName" placeholder="First name">
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input  class="form-control" id="lastName" formControl="lastName"  placeholder="Last name">
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input  class="form-control" id="year" formControl="year"  placeholder="Year of study">
      </div>

  </form> -->
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="firstName">First name</label>
          <input class="form-control"  formControlName="firstName" placeholder="First name">
        </div>
        <div class="form-group">
          <label for="lastName">Last name</label>
          <input  class="form-control"  formControlName="lastName"  placeholder="Last name">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input  class="form-control"  formControlName="year"  placeholder="Year of study">
          </div>
          <div class="form-group">
              <label for="">Upload profile picture</label>
              <app-file-upload></app-file-upload>
            </div>

      <button class="btn btn-primary" (click)="addStudent()" type="submit" [disabled]="!studentForm.valid">Submit</button>
    </form>

    <hr>

<!--
    <p>
      Form Value: {{ studentForm.value | json }}
    </p>


    <p>
      Form Status: {{ studentForm.status }}
    </p>

    <p>
      <button (click)="updateProfile()">Update Profile</button>
    </p> -->


    <!--
    Copyright 2017-2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license
    -->
